concurrent = 1
check_interval = 0
shutdown_timeout = 0

[session_server]
  session_timeout = 1800

#[[runners]]
#  name = "a0802"
#  url = "https://gitlabtest.alex.loc"
#  id = 1
#  token = "glrt-Y7cxWMveNXSXjncUz5yN"
#  token_obtained_at = 2023-05-28T13:18:25Z
#  token_expires_at = 0001-01-01T00:00:00Z
#  executor = "shell"
#  [runners.cache]
#    MaxUploadedArchiveSize = 0
